body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size:50px;
}
h2{
    font-size: 40px;
}
.purple-color{
    color:rgb(137, 23, 230);
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
    height: 75%;
    border-radius: 15%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 145, 0),tomato);
    padding:10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-top: 5%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.experience-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    box-shadow: 20px 30px 60px rgb(134, 225, 225);
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
#web-dev-experience{
    border-left: 5px solid;
    border-image:linear-gradient(rgb(183, 165, 173),cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left:5px solid;
    border-image:linear-gradient(rgb(227, 217, 214),rgb(80, 71, 255));
    border-image-slice: 1;
}
footer p{
        text-align:center;
}